body {
  font-family: "Arial", sans-serif;
  width: 800px;
  background-color: lightyellow;
  margin: 0 auto;
}

h1 {
  color: cornsilk;
  background-color: indigo;
  text-align: center;
  padding: 0.75rem;
}

p {
  margin: 1rem;
  padding: 0.1rem 1.25rem;
  line-height: 1.4;
}

table {
  background-color: gold;
  border: solid 3px;
  border-color: indigo;
  margin: 1rem;
}

thead th {
  color: cornsilk;
  background-color: indigo;
  margin: 1px;
}

td {
  border: solid 1px;
  border-color: cornsilk;
  padding: 0.22rem;
}

td span {
  display: block;
  text-align: center;
}

footer p {
  font-weight: 400;
  margin-top: 3rem;
}

.code {
  font-family: "Monospace";
  font-size: 0.9rem;
  font-weight: 300;
  background-color: burlywood;
  padding: 1px 6px;
}

.contact {
  font-weight: bold;
}
